h1{color: black; text-align: left; font-style: italic; font-size: 30px}
html {background:url("../images/tech.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size:cover;
background-size: cover;
color: blue;}
.row{
  width: 100%;
  margin-bottom: 20px;
}
.col30{
  width:30%;
  float:left;
}
.col70{width:68%;
float: left;
 }
.clear{
  clear:both;
  margin-bottom: 20px;
}
